* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
}

body {
    background-color: burlywood;
}

#pass-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px;
}

#password {
    color: greenyellow;
    font-size: 2em;
}

p {
    background-color: aquamarine;
    padding: 12px;
}

h1 {
    margin-bottom: 40px;
}

input {
    background-color: chocolate;
    border: 2px black solid;
    border-radius: 12px;
}
    
button {
    padding: 12px 24px;
    background-color: chocolate;
    border: 2px black solid;
    border-radius: 24px;
    font-size: 1.2em;
    font-weight: bold;
    transition: transform 0.4s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.2);
}

.form-check-input:checked {
    background-color: chocolate;
    border-color: chocolate; 
}

.form-check-input {
    cursor: pointer;
    background-color: chocolate;
    border-color: black;
}